<!-- Footer -->
<footer class="page-footer font-small " style="background-color: #F1F6F9">

    <!-- Footer Elements -->

        <!-- Grid row-->

            <!-- Grid column -->
            <div class="col-12 py-5">
                <div class="text-center">
                    <!-- Twitter -->
                   <!-- <a class="tw-ic" href="">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a> -->
                    <!--Linkedin -->
                    <a class="li-ic" href="">
                        <i class="fa-brands fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        <!-- Grid row-->

    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2023 Copyright: Snowtricks
        <a href=""></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->