{% extends 'base.html.twig' %}

{% block title %}Liste des différents tricks!{% endblock %}

{% block body %}

    <div class="container bg-light my-3">
        <h1 class="h2 pb-5 text-center">Liste des différents tricks</h1>
        <div class="row">
            {% for trick in pagination %}
                {% include 'tricks/_tricks.html.twig' %}
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
